/* Global Styles */
:root {
    --hf: rgb(52, 121, 40);
    --bg: rgb(255, 251, 230);   
    --body: rgb(192, 235, 166);
    --body2: rgba(192, 235, 166, 0.479); 
    --border: #fccd2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

html, body {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg)!important;
}


/* Navigation */
#nav {
    background-color: var(--hf);
    z-index: 1000;
    width: 100%;
    min-width: auto;
}

#brand {
    height: 100px;
    width: 100px;
    margin-top: -10px;
    margin-bottom: -20px;
    padding: 0;
}

#navbarNav.navbar-nav li {
    justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav > li > a {
    color: white;
    font-size: 1.25rem;
    transition: color 500ms, transform 500ms; 
}

.navbar-nav > li > a:hover {
    color: var(--border);
}

.navbar-nav > li > a:active {
    transform: rotate(180deg)
}


/* Hero Section */
#hero-img {
    height: 400px;
    justify-content: left;
    align-content: center;
}


#hero-title {
    height: 400px;
    text-align: center;
    align-content: center;
}


/* About Us */
#about-us {
    width: 100%;
}

#jumbotron {
    background-color: var(--body) !important;

}

#jumbotron > p {
    font-size: 1.25rem;
}


/* Table */
#table {
    max-width: 1200px;
}

#table h2 {
    margin: 1rem 0;
    color: var(--hf);
}

#table p {
    color: var(--hf);
    font-size: 1.5rem;
}

#table > div > table > thead > tr > th {
    background-color: var(--body) !important;
}

#table th, 
#table td {
    font-size: 1rem;
}


/* Registration */
#registration h2 {
    color: #6c757d;
    padding-bottom: 0.5rem;
}

#registration .btn {
    padding: 0.5rem;
}


/* Footer */
#footer {
    background-color: var(--hf)!important;
    width: 100%;
}

.border-top#legal-social {
    padding-top: 0.5rem;
}

#legal-social p {
    font-weight: medium; 
    align-content: center;
}
